force-app/main/default/flows/Attende_flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Confirmed_attendee_action</name>
        <label>Confirmed attendee action</label>
        <locationX>842</locationX>
        <locationY>863</locationY>
        <actionName>Lead.Confirmed_attendee_Email_alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Lead.Confirmed_attendee_Email_alert</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>No_seminar_Email_action</name>
        <label>No seminar Email action</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <actionName>Lead.No_seminar_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Lead.No_seminar_Email_Alert</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>No_seminar_Email_to_after_paying</name>
        <label>No seminar Email to after paying</label>
        <locationX>1106</locationX>
        <locationY>647</locationY>
        <actionName>Lead.No_seminar_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Lead.No_seminar_Email_Alert</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Registered_attende_action</name>
        <label>Registered attende action</label>
        <locationX>50</locationX>
        <locationY>1055</locationY>
        <actionName>Lead.Register_Attendee_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Lead.Register_Attendee_Email_Alert</nameSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>All_Upcoming_seminar_variable</name>
        <label>All Upcoming seminar variable</label>
        <locationX>138</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>Stack_of_seminar_variable</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>collect_all_seminars.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Stack_of_seminar_variable</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>break_formula_variable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>collect_all_seminars</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>conGes</name>
        <dataType>String</dataType>
        <value>
            <stringValue></stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_availability</name>
        <label>Check availability</label>
        <locationX>1106</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Available_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Single_Record.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Record_In_Confirmed_Attendee</targetReference>
            </connector>
            <label>Available Outcome</label>
        </rules>
        <rules>
            <name>Not_available_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Single_Record.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_seminar_Email_to_after_paying</targetReference>
            </connector>
            <label>Not available Outcome</label>
        </rules>
    </decisions>
    <decisions>
        <name>Checking_Type_of_Record</name>
        <label>Checking Type of  Record</label>
        <locationX>974</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Record_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>is_newRecord</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fetch_Upcoming_Seminars</targetReference>
            </connector>
            <label>Record Outcome</label>
        </rules>
        <rules>
            <name>Oldrecord_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Amount_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Paid</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Single_Record</targetReference>
            </connector>
            <label>Oldrecord Outcome</label>
        </rules>
    </decisions>
    <decisions>
        <name>Upcoming_Seminars_Check</name>
        <label>Upcoming Seminars Check</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Seminars_Available_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Fetch_Upcoming_Seminars</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>collect_all_seminars</targetReference>
            </connector>
            <label>Seminars Available Outcome</label>
        </rules>
        <rules>
            <name>Seminars_Not_available_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Fetch_Upcoming_Seminars</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_seminar_Email_action</targetReference>
            </connector>
            <label>Seminars Not available Outcome</label>
        </rules>
    </decisions>
    <description>v7</description>
    <environments>Default</environments>
    <formulas>
        <name>break_formula_variable</name>
        <dataType>String</dataType>
        <expression>BR()</expression>
    </formulas>
    <formulas>
        <name>dynamic_today_varibale</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <name>is_newRecord</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Attende flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Attende flow</label>
    <loops>
        <name>collect_all_seminars</name>
        <label>collect all seminars</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <collectionReference>Fetch_Upcoming_Seminars</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>All_Upcoming_seminar_variable</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Triggered_Record</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Record_In_Confirmed_Attendee</name>
        <label>Create Record In Confirmed Attendee</label>
        <locationX>842</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>update_the_specific_seminar</targetReference>
        </connector>
        <inputAssignments>
            <field>Corporate_Seminar__c</field>
            <value>
                <elementReference>Get_Single_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email__c</field>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone__c</field>
            <value>
                <elementReference>$Record.Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Speaker_del__c</field>
            <value>
                <elementReference>Get_Single_Record.Speaker__r.Name</elementReference>
            </value>
        </inputAssignments>
        <object>Confirmed_Attendee__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Fetch_Upcoming_Seminars</name>
        <label>Fetch Upcoming Seminars</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Upcoming_Seminars_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Seminar_Subject__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Area_of_Interest__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Start_Date_and_Time__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>dynamic_today_varibale</elementReference>
            </value>
        </filters>
        <filters>
            <field>Seminar_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Scheduled</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Corporate_Seminar__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Single_Record</name>
        <label>Get Single Record</label>
        <locationX>1106</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_availability</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Seminar_Subject__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Area_of_Interest__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Start_Date_and_Time__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>dynamic_today_varibale</elementReference>
            </value>
        </filters>
        <filters>
            <field>Seminar_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Scheduled</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Corporate_Seminar__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_the_specific_seminar</name>
        <label>update the specific seminar</label>
        <locationX>842</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Confirmed_attendee_action</targetReference>
        </connector>
        <inputAssignments>
            <field>End_date_and_time__c</field>
            <value>
                <elementReference>Get_Single_Record.End_date_and_time__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location__c</field>
            <value>
                <elementReference>Get_Single_Record.Location__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Single_Seminar__c</field>
            <value>
                <elementReference>Get_Single_Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Speaker__c</field>
            <value>
                <elementReference>Get_Single_Record.Speaker__r.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date_and_Time__c</field>
            <value>
                <elementReference>Get_Single_Record.Start_Date_and_Time__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Triggered_Record</name>
        <label>Update Triggered Record</label>
        <locationX>50</locationX>
        <locationY>947</locationY>
        <connector>
            <targetReference>Registered_attende_action</targetReference>
        </connector>
        <inputAssignments>
            <field>Stack_Of_Seminars__c</field>
            <value>
                <elementReference>Stack_of_seminar_variable</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>848</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Checking_Type_of_Record</targetReference>
        </connector>
        <object>Lead</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>Stack_of_seminar_variable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
