force-app/main/default/flows/Corporate_seminar_Change_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>seminar_changed_action</name>
        <label>seminar changed action</label>
        <locationX>138</locationX>
        <locationY>816</locationY>
        <actionName>Corporate_Seminar__c.Seminar_Changed_EA</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Collect_Email_Address</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Corporate_Seminar__c.Seminar_Changed_EA</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Seminar_changed_for_speaker_action</name>
        <label>Seminar changed for speaker action</label>
        <locationX>50</locationX>
        <locationY>1008</locationY>
        <actionName>Corporate_Seminar__c.Seminar_Changed_EA_for_Speaker</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Corporate_Seminar__c.Seminar_Changed_EA_for_Speaker</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Seminar_Feedback_Email_action</name>
        <label>Seminar Feedback Email action</label>
        <locationX>1018</locationX>
        <locationY>708</locationY>
        <actionName>Corporate_Seminar__c.Seminar_Feedback_Email_alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Collect_Email_Address_For_Feedback</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Corporate_Seminar__c.Seminar_Feedback_Email_alert</nameSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>check_attendees</name>
        <label>check attendees</label>
        <locationX>1062</locationX>
        <locationY>384</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>available_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>All_Attende_Records_for_Scheduling</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Collect_Email_Address_For_Feedback</targetReference>
            </connector>
            <label>available Outcome</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_field_value_change_or_not</name>
        <label>check field value change or not</label>
        <locationX>182</locationX>
        <locationY>384</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isFieldsChanged</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Location__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Location__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Start_Date_and_Time__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Start_Date_and_Time__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getAll_Attende_Records</targetReference>
            </connector>
            <label>isFieldsChanged</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_is_Old_Record</name>
        <label>check is Old Record</label>
        <locationX>380</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Old_Record_OutCome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>is_New_created</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>check_field_value_change_or_not</targetReference>
            </connector>
            <label>Old Record OutCome</label>
        </rules>
    </decisions>
    <description>v6</description>
    <environments>Default</environments>
    <formulas>
        <name>is_New_created</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Corporate seminar Change Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Corporate seminar Change Flow</label>
    <loops>
        <name>Collect_Email_Address</name>
        <label>Collect Email Address</label>
        <locationX>50</locationX>
        <locationY>600</locationY>
        <collectionReference>getAll_Attende_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Email_Field</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Seminar_changed_for_speaker_action</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Collect_Email_Address_For_Feedback</name>
        <label>Collect Email Address For Feedback</label>
        <locationX>930</locationX>
        <locationY>492</locationY>
        <collectionReference>All_Attende_Records_for_Scheduling</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Email_Field_at_scheduling</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>update_Seminar_status</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>All_Attende_Records_for_Scheduling</name>
        <label>All Attende Records for Scheduling</label>
        <locationX>1062</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_attendees</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Corporate_Seminar__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Confirmed_Attendee__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getAll_Attende_Records</name>
        <label>All Attende Records</label>
        <locationX>50</locationX>
        <locationY>492</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Collect_Email_Address</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Corporate_Seminar__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Confirmed_Attendee__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Email_Field</name>
        <label>Update Email Field</label>
        <locationX>138</locationX>
        <locationY>708</locationY>
        <connector>
            <targetReference>seminar_changed_action</targetReference>
        </connector>
        <inputAssignments>
            <field>Attendee_Email__c</field>
            <value>
                <elementReference>Collect_Email_Address.Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Speaker_Email__c</field>
            <value>
                <elementReference>Collect_Email_Address.Corporate_Seminar__r.Speaker__r.Speaker_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Email_Field_at_scheduling</name>
        <label>Update Email Field at scheduling</label>
        <locationX>1018</locationX>
        <locationY>600</locationY>
        <connector>
            <targetReference>Seminar_Feedback_Email_action</targetReference>
        </connector>
        <inputAssignments>
            <field>Attendee_Email__c</field>
            <value>
                <elementReference>Collect_Email_Address_For_Feedback.Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_Seminar_status</name>
        <label>update Seminar status</label>
        <locationX>930</locationX>
        <locationY>900</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Seminar_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Seminar_Status__c</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>595</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>check_is_Old_Record</targetReference>
        </connector>
        <object>Corporate_Seminar__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>Schedule_Feed_Back_Path</name>
            <connector>
                <targetReference>All_Attende_Records_for_Scheduling</targetReference>
            </connector>
            <label>Schedule Feed Back Path</label>
            <offsetNumber>10</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>End_date_and_time__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
