force-app/main/default/flows/Customer_Currency_Handler_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <decisions>
        <name>Customer_Validation_Phase</name>
        <label>Customer Validation Phase</label>
        <locationX>270</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_Customer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isNewCustomer</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Customer_MDB_Creation</targetReference>
            </connector>
            <label>New Customer</label>
        </rules>
        <rules>
            <name>Old_Customer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isNewCustomer</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Amount__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Amount__c</elementReference>
                </rightValue>
            </conditions>
            <label>Old Customer</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>isNewCustomer</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Customer Currency Handler Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Customer Currency Handler Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Customer_MDB_Creation</name>
        <label>Customer MDB Creation</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <inputReference>$Record</inputReference>
    </recordCreates>
    <start>
        <locationX>144</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Customer_Validation_Phase</targetReference>
        </connector>
        <object>Bank_Account__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
