force-app/main/default/flows/Farmer_Mobile_validate_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Http_Req_to_VeriPhone</name>
        <label>Http Req to VeriPhone</label>
        <locationX>308</locationX>
        <locationY>276</locationY>
        <actionName>VeriPhoneAPI</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Trigger_Rec</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>phoneNumber</name>
            <value>
                <elementReference>$Record.Mobile__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>VeriPhoneAPI</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <environments>Default</environments>
    <formulas>
        <name>Is_New_Record</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>mobile_prior</name>
        <dataType>String</dataType>
        <expression>PRIORVALUE({!$Record.Mobile__c})</expression>
    </formulas>
    <interviewLabel>Farmer Mobile validate Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Farmer Mobile validate Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Trigger_Rec</name>
        <label>Update Trigger Rec</label>
        <locationX>308</locationX>
        <locationY>384</locationY>
        <inputAssignments>
            <field>Carrier__c</field>
            <value>
                <elementReference>Http_Req_to_VeriPhone.carrier</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Valid__c</field>
            <value>
                <elementReference>Http_Req_to_VeriPhone.phone_valid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone_Region__c</field>
            <value>
                <elementReference>Http_Req_to_VeriPhone.phone_region</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone_Type__c</field>
            <value>
                <elementReference>Http_Req_to_VeriPhone.phone_type</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Is_Valid__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>AgriFarmer__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Http_Req_to_VeriPhone</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
