force-app/main/default/flows/Farmer_Mobile_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Validate_Phone_Number</name>
        <label>Validate Phone Number</label>
        <locationX>308</locationX>
        <locationY>276</locationY>
        <actionName>PhoneValidation.Validate Phone</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>update_Triggered_Record</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>phone</name>
            <value>
                <elementReference>$Record.Phone__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>key</name>
            <value>
                <elementReference>$Label.VeriPhone_APIKEY</elementReference>
            </value>
        </inputParameters>
        <nameSegment>PhoneValidation.Validate Phone</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Farmer Mobile Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Farmer Mobile Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>update_Triggered_Record</name>
        <label>update Triggered Record</label>
        <locationX>308</locationX>
        <locationY>384</locationY>
        <inputAssignments>
            <field>Carrier__c</field>
            <value>
                <elementReference>Validate_Phone_Number.2XX.carrier</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Valid__c</field>
            <value>
                <elementReference>Validate_Phone_Number.2XX.phonex5fvalid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone_Region__c</field>
            <value>
                <elementReference>Validate_Phone_Number.2XX.phonex5fregion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone_Type__c</field>
            <value>
                <elementReference>Validate_Phone_Number.2XX.phonex5ftype</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Is_Valid__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>AgriFarmer__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Validate_Phone_Number</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
