force-app/main/default/flows/Flight_Details_Management_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Cancelled_Email_to_Flight</name>
        <label>Cancelled Email to Flight</label>
        <locationX>314</locationX>
        <locationY>708</locationY>
        <actionName>Flight_Detail__c.Cancelled_Flight_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Create_Record_In_Loss_Details_Object</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Flight_Detail__c.Cancelled_Flight_Email_Alert</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Engine_Model_to_Pilot</name>
        <label>Engine Model to Pilot</label>
        <locationX>842</locationX>
        <locationY>276</locationY>
        <actionName>Flight_Detail__c.Scheduled_Flight_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Flight_Detail__c.Scheduled_Flight_Email_Alert</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Immediate_Mail</name>
        <label>Immediate Mail</label>
        <locationX>50</locationX>
        <locationY>492</locationY>
        <actionName>Flight_Detail__c.Immediate_Flight_Details_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_Triggered_Record</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Flight_Detail__c.Immediate_Flight_Details_Alert</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Inform_To_Flight_Group</name>
        <label>Inform To Flight Group</label>
        <locationX>314</locationX>
        <locationY>600</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Cancelled_Email_to_Flight</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>Flight_Group_Text_Template</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>Flight_Group_Rec.Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>group</stringValue>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>New_Record_Or_Not</name>
        <label>New Record Or Not</label>
        <locationX>314</locationX>
        <locationY>384</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_Record_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isNewRecord</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Planned</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Immediate_Mail</targetReference>
            </connector>
            <label>New Record Outcome</label>
        </rules>
        <rules>
            <name>Old_Record_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>is_Loss_obj_var</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Required_Group_Info</targetReference>
            </connector>
            <label>Old Record Outcome</label>
        </rules>
    </decisions>
    <description>eight phase change</description>
    <environments>Default</environments>
    <formulas>
        <name>isNewRecord</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>Loss_amount_formula_type</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.Passenger_Count__c} * 1000</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Flight Details Management Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Flight Details Management Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Record_In_Loss_Details_Object</name>
        <label>Create Record In Loss Details Object</label>
        <locationX>314</locationX>
        <locationY>816</locationY>
        <inputAssignments>
            <field>Loss_Amount__c</field>
            <value>
                <elementReference>Loss_amount_formula_type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Loss_Reason__c</field>
            <value>
                <stringValue>Cancellation Fine Paid to airline authorities</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <object>Loss_Detail__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Loss_Object_Record_Names</name>
        <label>Get Loss Object Record Names</label>
        <locationX>314</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>New_Record_Or_Not</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </filters>
        <object>Loss_Detail__c</object>
        <outputAssignments>
            <assignToReference>is_Loss_obj_var</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Required_Group_Info</name>
        <label>Get Required Group Info</label>
        <locationX>314</locationX>
        <locationY>492</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Inform_To_Flight_Group</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Flight Group</stringValue>
            </value>
        </filters>
        <object>CollaborationGroup</object>
        <outputReference>Flight_Group_Rec</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>CollaborationType</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Triggered_Record</name>
        <label>Update Triggered Record</label>
        <locationX>50</locationX>
        <locationY>600</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Planned</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Email_Status__c</field>
            <value>
                <stringValue>Mail has been sent to pilot</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Pilot Notified</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Loss_Object_Record_Names</targetReference>
        </connector>
        <object>Flight_Detail__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>Engine_Model_scheduled_Path</name>
            <connector>
                <targetReference>Engine_Model_to_Pilot</targetReference>
            </connector>
            <label>Engine Model scheduled Path</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <recordField>CreatedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Flight_Group_Text_Template</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Dear {!Flight_Group_Rec.Name},
Flight Number {!$Record.Name} is Cancelled due to heavy rain.</text>
    </textTemplates>
    <variables>
        <name>Flight_Group_Rec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>CollaborationGroup</objectType>
    </variables>
    <variables>
        <name>is_Loss_obj_var</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Loss_details_Obj_Rec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Loss_Detail__c</objectType>
    </variables>
</Flow>
