force-app/main/default/flows/Publish_Alert_Event.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Publish Alert Event {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Publish Alert Event</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Publish_Event</name>
        <label>Publish Event</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <inputAssignments>
            <field>Location__c</field>
            <value>
                <elementReference>Location</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>News_Content__c</field>
            <value>
                <elementReference>News_Content</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Urgent__c</field>
            <value>
                <elementReference>Urgent</elementReference>
            </value>
        </inputAssignments>
        <object>Cloud_News__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <screens>
        <name>Platform_Event_Screen</name>
        <label>Platform Event Screen</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Publish_Event</targetReference>
        </connector>
        <fields>
            <name>Location</name>
            <dataType>String</dataType>
            <fieldText>Location</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>News_Content</name>
            <dataType>String</dataType>
            <fieldText>News Content</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Urgent</name>
            <dataType>Boolean</dataType>
            <fieldText>Urgent</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Platform_Event_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
</Flow>
