force-app/main/default/flows/UserLoginGateFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>DisplayError</name>
        <label>DisplayError</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>FlowErrorThrower</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>messages</name>
            <value>
                <elementReference>Error</elementReference>
            </value>
        </inputParameters>
        <nameSegment>FlowErrorThrower</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <decisions>
        <name>UserLoginGate</name>
        <label>UserLoginGate</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AllowedPath</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isProfileAllowed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>AllowedPath</label>
        </rules>
        <rules>
            <name>BlockedPath</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isProfileAllowed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NotAllowedUrl</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UserInfoDsiplay</targetReference>
            </connector>
            <label>BlockedPath</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>isProfileAllowed</name>
        <dataType>Boolean</dataType>
        <expression>CONTAINS({!GetLoginUserInfo.Profile.Name}, &quot;System Administrator&quot;)</expression>
    </formulas>
    <formulas>
        <name>NotAllowedUrl</name>
        <dataType>Boolean</dataType>
        <expression>NOT(CONTAINS({!GetLoginHistoryInfo.LoginUrl}, &quot;login.salesforce.com&quot;))</expression>
    </formulas>
    <interviewLabel>UserLoginGateFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>UserLoginGateFlow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetLoginHistoryInfo</name>
        <label>GetLoginHistoryInfo</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UserLoginGate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UserId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetLoginUserInfo.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LoginHistory</object>
        <sortField>UserId</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetLoginUserInfo</name>
        <label>GetLoginUserInfo</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetLoginHistoryInfo</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <sortField>Id</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>UserInfoDsiplay</name>
        <label>UserInfoDsiplay</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>DisplayError</targetReference>
        </connector>
        <fields>
            <name>UserMsg</name>
            <fieldText>&lt;p&gt;Dear {!GetLoginUserInfo.Name},&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;You are Not Allowed to access Salesforce Org using &quot;&lt;strong style=&quot;color: rgb(215, 81, 19);&quot;&gt;https://login.salesforce.com&lt;/strong&gt;&quot;, Try to login using Your Domain URL.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Thanks,&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetLoginUserInfo</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Error</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Your login is restricted. Contact Admin.</stringValue>
        </value>
    </variables>
</Flow>
