force-app/main/default/flows/X1_Data_Build.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <description>Add All Components</description>
        <name>Add_Componets</name>
        <label>Add Componets</label>
        <locationX>182</locationX>
        <locationY>650</locationY>
        <assignmentItems>
            <assignToReference>Components</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Component1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Components</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Component2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Components</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Component3</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Components</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Component4</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Components</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Component5</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Components</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Component6</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Components</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Component7</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Component_Controls</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign all the individual Component Controls</description>
        <name>Set_Components</name>
        <label>Set Components</label>
        <locationX>182</locationX>
        <locationY>542</locationY>
        <assignmentItems>
            <assignToReference>Component1.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Dining Room Lights</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Component2.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Dining Room Fireplace</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Component3.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Entry Lights</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Component4.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Living Room Lights</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Component5.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Living Room Fireplace</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Component6.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Kitchen Lights</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Component7.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Parlor Lights</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Componets</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Are there any prior Component Controls?</description>
        <name>Prior_Controls</name>
        <label>Prior Controls?</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Set_Components</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Controls</defaultConnectorLabel>
        <rules>
            <name>Controls_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Component_Controls</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clean_Data</targetReference>
            </connector>
            <label>Controls Found</label>
        </rules>
    </decisions>
    <description>Builds Component Controlls</description>
    <environments>Default</environments>
    <interviewLabel>1 Data Build {!$Flow.CurrentDateTime}</interviewLabel>
    <label>1 Data Build</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Create the Component Controls from variables</description>
        <name>Create_Component_Controls</name>
        <label>Create Component Controls</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <inputReference>Components</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Clean_Data</name>
        <label>Clean Data</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Set_Components</targetReference>
        </connector>
        <inputReference>Get_Component_Controls</inputReference>
    </recordDeletes>
    <recordLookups>
        <description>Get the current Component Controls</description>
        <name>Get_Component_Controls</name>
        <label>Get Component Controls</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Prior_Controls</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Powered__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Powered__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Powered__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AI_Manor_Component_Control__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Component_Controls</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>Component1</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AI_Manor_Component_Control__c</objectType>
    </variables>
    <variables>
        <name>Component2</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AI_Manor_Component_Control__c</objectType>
    </variables>
    <variables>
        <name>Component3</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AI_Manor_Component_Control__c</objectType>
    </variables>
    <variables>
        <name>Component4</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AI_Manor_Component_Control__c</objectType>
    </variables>
    <variables>
        <name>Component5</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AI_Manor_Component_Control__c</objectType>
    </variables>
    <variables>
        <name>Component6</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AI_Manor_Component_Control__c</objectType>
    </variables>
    <variables>
        <name>Component7</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AI_Manor_Component_Control__c</objectType>
    </variables>
    <variables>
        <description>Components to create</description>
        <name>Components</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AI_Manor_Component_Control__c</objectType>
    </variables>
</Flow>
